<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Interrogations</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="devoirs">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Devoirs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="moyenne">
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label>Composition</ion-label>
    </ion-tab-button>

   
  </ion-tab-bar>
</ion-tabs>