<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informations
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
