<ion-app>
  <ion-menu (ionWillOpen)="onMenuOpen()" side="start" menuId="first" contentId="menuContent" swipe-gesture="false">
    <ion-header>
      <ion-toolbar>
        <h3>{{nom_enfant +' '+ prenoms_enfant}}</h3>
        <h5>{{classe_enfant}}</h5>
        <span>{{ecole_enfant}}</span>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="tabs/home"><ion-icon name="book-outline"></ion-icon>Notes</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/informations"><ion-icon name="information-circle-outline"></ion-icon>Informations</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item href=""><ion-icon name="call-outline"></ion-icon>Contactez 3 Icones</ion-item>
        </ion-menu-toggle>  
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-menu-toggle (click)="changerCompte()">
        <ion-item><ion-icon name="swap-horizontal-outline"></ion-icon>Changer compte</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle (click)="logOut()">
        <ion-item><ion-icon name="log-out-outline"></ion-icon>Deconnexion</ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="menuContent"></ion-router-outlet>
</ion-app>
