<ion-content class="log">
  <div class="logo">
    <img src="../../assets/educ'ee.jpg" alt="" srcset="">
    <p>Slogan</p>
  </div>

  <div class="form-input">
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked">Email parent</ion-label>
        <ion-input [(ngModel)]="parent.email" name="matricule" type="text" ></ion-input>  
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input [(ngModel)]="parent.password" name="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  
  <ion-button  style="--background:  #1e748b;" class="login-btn" (click)="connexion()">Connexion</ion-button>
  <p>Vous désirez aussi recevoir les notes de votre enfants ? <span routerLink="/accueil"> Cliquez ici </span>pour vous renseigner</p>
</ion-content>
