

<ion-content class="log">
  <div class="logo">
    <img src="../../assets/educ'ee.jpg" alt="" srcset="">
    <p>Bienvenu Mr/Mme, Choisir le compte d'un enfant</p>
  </div>
  <div *ngFor="let item of list_enfant">
    <ion-button (click)="choix_compte(item)" style="--background:  #1e748b;" class="login-btn" routerLink="/home">
      {{item.nom + ' '+ item.prenoms}} 
    </ion-button>
  </div>
  
</ion-content>
