/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




.log{
    text-align: center;
    background-color: #fff;

    .logo{
        padding-top: 10% ;
        img{
            width: 50%;
        }
        p{
            color: #362f2e;
            font-weight: bolder;
            font-family: cursive;
            margin: 2% 5%;
        }
    }
    .form-control:focus{
        box-shadow: none !important;
    }
    
    .form-input{
        margin: 8% 8% 4% 8%;
    }    
    ion-label{
        color: #000000;
        font-size: 18px;
        font-weight: 700;
    }
    ion-input, input{
        border: none;
        border-bottom: 1px solid #615f5f;
        border-radius: 6px;
        font-size: 17px;
    }
 
    .footer p{
        margin: 0 10%;
    }
    span{
        color: #f75148;
        font-family: 'Courier New', Courier, monospace;
    } 
    ion-button{
        background :  #1e748b;

    }
}

.login-btn{
   --background :  #1e748b;
    width: 10rem;
    // height: 3rem;
    font-size: 20px;
    line-height: 0px;
    margin-bottom: 10%;
    margin-top: 10%;
}

ion-item.item-has-focus > ion-label{
    color: #000 !important;
  }

ion-toolbar{
    --background: #1e748b;
    color: #fff;
}

ion-title{
    font-weight: 500;
    font-family: 'Times New Roman';
    text-transform: capitalize;
}

.btn-mat{
  
    width: 10rem;
    font-size: 20px;
    line-height: 0px;
}

.btn-group ion-button{
    // style="--background:  #1e748b;"
   --background :  #1e748b;
  margin-top: 15% 5;


}
.mat{
    text-align: center;

    h3{
        color: #f7aa0c ;

    }
    p{

        span{
            font-weight: 800;
            color: #1e748b;
        }
    }
}
// #f7aa0c

// #1e748b