<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notes - Interrogations
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-border mat">
  <h3>{{context}}</h3>
    <div *ngFor="let item of notes" class="francais">
       <div *ngIf="context === item.matiere">
       
        <p  *ngIf="item.type_evaluation === 'note1'">Interrogation 1: <span>{{item.valeur}}</span></p>
        <p  *ngIf="item.type_evaluation === 'note2'">Interrogation 2: <span>{{item.valeur}}</span></p>
        <p  *ngIf="item.type_evaluation === 'note3'">Interrogation 3: <span>{{item.valeur}}</span></p>
      </div>
    </div>

    <div class="btn-group">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of matieres">
            <ion-button class="btn-mat" (click)="context = item" >{{item}}</ion-button>
          </ion-col>
         
         
        </ion-row>
      </ion-grid>
    </div>
</ion-content>


