#container {
  text-align: center !important;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

// .ion-border ion-row:not(:last-child) {
//   border: 1px solid;
// }
// .ion-border ion-row:not(:first-child) {
//   border-bottom: 1px solid;
//   border-left: 1px solid;
//   // border-right: 1px solid;
// }
// .ion-border ion-row ion-col:not(:last-child) {
//   border-right: 1px solid;
// }

ion-tab-button:focus {
  background: #1e748b;
  ion-icon {
    color:#f7aa0c !important;
  }
  ion-label{
    color: rgb(255, 255, 255);
  }
}

.btn-group{

}



// #f7aa0c

// #1e748b
