

<ion-content class="log">
  <div class="logo">
    <img src="../../assets/educ'ee.jpg" alt="" srcset="">
    <p>Slogan</p>
  </div>
  <div>
    <ion-button style="--background:  #1e748b;" class="login-btn" routerLink="/connexion">
      Connexion
    </ion-button>
  </div>
  <div>
    <ion-button style="--background:  #1e748b;" class="login-btn" routerLink="/about">
      A propos
    </ion-button>
  </div>
  <div>
    <ion-button style="--background:  #1e748b;" class="login-btn" routerLink="/comment-marche">
      Comment ça marche ?
    </ion-button>
  </div>
</ion-content>
